body, td {
   font-family: sans-serif;
   background-color: #F8F8F8;
   width:60%;
   margin-left: 20%;
   line-height: 200%;
}


tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}



a:visited {
   color: rgb(50%, 0%, 50%);
}


